<p>Please reset your password

<form action="/reset_password" method="post">
	New password: <input name="new_password" type="password"><p>
	Confirm new password: <input name="confirm_password" type="password"><p>
	<input value="submit" type="submit"><p>
</form>