<h2>Please sign in</h2>

<form action="/signin" method="post">

	Email:<input name="email" type="text">

	Password:<input name="password" type="password">

	<input value="Sign in" type="submit">

</form>
<a href="/forgot_password">Forgot password?</a>