<h2> Please sign up</h2>

<form action='/signup' method="post">

	Name:<input name="name" type="text"> <p>

	Email:<input name="email" type="text"> <p>

	Username:<input name="username" type="text"><p>

	Password:<input name="password" type="password"><p>

	Password Confirmation:<input name="password_confirmation" type="password"><p>
	
	<input value="Sign me up!" type="submit"><p>
</form>